<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="container">
  <div class="card">
      <h5 class="card-content">Angular 8 Dynamic Reactive Forms Example</h5>
      <div class="card-content">
          <div >
              <div>
                  <label>Number of Inputs: </label>
                  <div class="select is-primary">
                  <select formControlName="numberOfTickets" class="form-control"
                   (change)="onChangeTickets($event)" 
                   [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
                      <option value=""></option>
                      <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                  </select>
                </div>
                  <div *ngIf="submitted && f.numberOfTickets.errors" class="invalid-feedback">
                      <div *ngIf="f.numberOfTickets.errors.required">Number of inputs is required</div>
                  </div>
              </div>
          </div>
      </div>
      <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
          <div class="list-group-item">
              <h5 class="card-title">Input {{i + 1}}</h5>
              <div [formGroup]="ticket" class="columns">
                  <div class="column card-content">
                      <label> First Name</label>
                      <input class="input" formControlName="name" 
                     
                       [ngClass]="{ 'is-invalid': submitted && ticket.controls.name.errors }" />
                      <div *ngIf="submitted && ticket.controls.name.errors" class="invalid-feedback">
                          <div *ngIf="ticket.controls.name.errors.required">Name is required</div>
                      </div>
                  </div>
                  <div class="column">
                    <label> Last Name</label>
                    <input class="input" formControlName="lname" 
                   
                     [ngClass]="{ 'is-invalid': submitted && ticket.controls.lname.errors }" />
                    <div *ngIf="submitted && ticket.controls.lname.errors" class="invalid-feedback">
                        <div *ngIf="ticket.controls.lname.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="column">
                  <label> User Name</label>
                  <input class="input" formControlName="uname" 
                 
                   [ngClass]="{ 'is-invalid': submitted && ticket.controls.uname.errors }" />
                  <div *ngIf="submitted && ticket.controls.uname.errors" class="invalid-feedback">
                      <div *ngIf="ticket.controls.uname.errors.required">User Name is required</div>
                  </div>
              </div>
                  <div class="column">
                      <label>Email</label>
                      <input class="input" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && ticket.controls.email.errors }" />
                      <div *ngIf="submitted && ticket.controls.email.errors" class="invalid-feedback">
                          <div *ngIf="ticket.controls.email.errors.required">Email is required</div>
                          <div *ngIf="ticket.controls.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
              </div>
              <label for="">Status: </label>
              <div class="select is-primary">
              <select formControlName="select">
                
                <option value="active"> Active </option>
                <option >Inactive </option>
              </select>
            </div>
          </div>
      </div>
      <br>
      <div class="card-footer text-center">
          <button class="button is-primary" (click)="onSubmit()">Submit</button>
          <button class="button is-primary" type="reset" (click)="onReset()">Reset</button>
          <button class="button is-primary" type="button" (click)="onClear()">Clear</button>
      </div>
  </div>
</div>
</form>

<!-- credits -->
